.heroContainer {
    display: flex;
    height: 70vh;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    height: 100%;
}


.heroText h1 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.heroText h2 {
    font-weight: 300;
    font-size: 1.35rem;
    text-align: center;
    width: 60%;
}

.hero {
    flex-basis: 100%;
    background-color: var(--color-primary-dark);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)) ,url("../../../../public/images/Assetz-Marq-Apartments-in-Kannamangala-Whitefield-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heroImage {
    display: none;
}

@media screen and (min-width: 1000px) {
    .hero {
        flex-basis: 40%;
        background-color: var(--color-primary-dark);
        background-image: none;
    }
    
    .heroImage {
        display: block;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)) ,url("../../../../public/images/Assetz-Marq-Apartments-in-Kannamangala-Whitefield-1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 60%;
    }
}