.townshipContainer {
    display: block;
    margin: 2rem 0;
    max-width: 1200px;
}

.townshipText {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.townshipText h2 {
    color: var(--color-primary-dark);
    font-size: 2.25rem;
    text-transform: capitalize;
}

.townshipText p {
    color: #959595;
    width: 60%;
    text-align: center;
    font-size: max(14px, 1.15rem);
}

.townshipImage {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.townshipImage img {
    width: 100%;
    max-width: 500px;
}

@media screen and (min-device-width: 768px) {
    .townshipContainer {
        margin: 5rem auto;
        display: flex;
        height: 100%;
    }
    .townshipText p {
        width: 60%;
    }
}