* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-primary-dark: #19544b;
}

html, body {
    font-family: 'Lato', sans-serif ;
}

.pb-sm {
    padding-bottom: 1rem;
}